<!-- TODO [#4] : Limiter à 12 places par compétition par club
     Détail : Ajouter une contrainte max=12 et une validation côté serveur.
     Lien   : https://github.com/OpenClassrooms-Student-Center/Python_Testing/issues/4 -->
<html lang="en">
</head>
<body>
    <h2>{{competition['name']}}</h2>
    Places available: {{competition['numberOfPlaces']}}
    <form action="/purchasePlaces" method="post">
        <input type="hidden" name="club" value="{{club['name']}}">
        <input type="hidden" name="competition" value="{{competition['name']}}">
        <label for="places">How many places?</label><input type="number" name="places" id="places" min="1" max="{{ [club['points']|int, competition['numberOfPlaces']|int]|min }}"/>
        <button type="submit">Book</button>
    </form>
</body>
</html>